@import url("config.css");
*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #fff;
}

header h1{
  color: #363636;
  margin-left: 5rem;
}

header h1 span{
  color: #6C63FF
}

.links{
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

.links a{
  color: #6C63FF;
  text-decoration: none;
}

/* main */

main{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 5rem);
}

main img{
  height: auto;
  width: 55rem;
  margin-left: 8rem;
}

main .forms{
  margin-right: 20rem;
  transform: scale(1.25);
}

main .titles{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main h1{
  color: #363636;
}

main .inputs{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs input{
  width: 22rem;
  padding: 0.8rem 1rem;
  border: 1px solid #000;
}

.inputs input:focus{
  outline: none;
  border: 1px solid #6C63FF;;
}

main .buttons{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .buttons button{
  padding: 12px;
  border:none;
  font-weight: bold;
  width: 10rem;
  border-radius: 15px;
  color: #fff;
  background-color: #6C63FF;;
  cursor: pointer;
  transition: .2s;
}

main .buttons button:hover{
  background-color: #564dfc;
}

main .buttons a{
  text-decoration: none;
  color: lightslategray;
}